<ion-content [fullscreen]="false">
  <div>
    <ion-card style="display: flex; justify-content: center; margin-top: 300px; flex-direction: column;">
      <ion-card-header>
        <ion-card-title>
          Tabela de Turmas Registradas
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list >

          <ion-item lines="full">Arroz</ion-item>
          <ion-item lines="full">Arroz</ion-item>
          <ion-item lines="full">Arroz</ion-item>
          <ion-item lines="full">Arroz</ion-item>
          <ion-item lines="full">Arroz</ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
