ion-content div
{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

ion-card
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  ion-input
  {
    margin: 16px;
    color: white;
  }
}

div
{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
