<ion-content [fullscreen]="false">
  <br>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-select (ionChange)="activateButton($event)" aria-label="escola" placeholder="Escolhe uma escola para prosseguir">
        <ion-select-option *ngFor="let school of schools" value={{school.id}}>{{ school.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div *ngIf="choosed">
    <ion-list *ngFor="let classes of schoolClasses">
      <ion-item>
        <ion-label>{{classes.year + "ºAno " + classes.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button #newClassesModal id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal #modal trigger="newClassesModal" [canDismiss]="canDismiss">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Fechar</ion-button>
          </ion-buttons>
          <ion-title>Registrar Nova Turma</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">Registrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>

          <ion-input
            label="Ano"
            labelPlacement="stacked"
            [(ngModel)]="year"
            [clearInput]="true"
            placeholder="Digite o ano dessa turma"
          >
          </ion-input>

          <ion-input
            label="Nome"
            labelPlacement="stacked"
            [(ngModel)]="name"
            [clearInput]="true"
            placeholder="Digite a letra dessa turma"
          >
          </ion-input>

          <ion-input
            label="Quantidade de Alunos"
            labelPlacement="stacked"
            [(ngModel)]="studentsQtd"
            [clearInput]="true"
            placeholder="Digite a quantidade de alunos dessa turma"
          >
          </ion-input>

        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
