<ion-content [fullscreen]="false">
  <ion-card style="display: flex; justify-content: center; margin-top: 300px; flex-direction: column;">
    <ion-card-header>
      <ion-card-title>
        Tabela de Escolas Registradas
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list >

        <ion-item lines="full">Arroz</ion-item>
        <ion-item lines="full">Arroz</ion-item>
        <ion-item lines="full">Arroz</ion-item>
        <ion-item lines="full">Arroz</ion-item>
        <ion-item lines="full">Arroz</ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
