<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Entrar
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input
            label="Usuário ou e-mail"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="Digite seu endereço de e-mail"
            fill="outline"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Senha"
            labelPlacement="stacked"
            [clearOnEdit]="true"
            placeholder="Digite sua senha"
            fill="outline"
          >
          </ion-input>
        </ion-item>

        <ion-grid>
          <ion-button fill="clear" href="/registrar">Registrar-se</ion-button>
          <ion-button fill="clear">Entrar</ion-button>
        </ion-grid>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
